* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body h1 {
    text-align: center;
    margin-bottom: 1em;
    margin-top: 1em;
}

input,label {
    display: block;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.read, .card-checkbox-div {
    display: flex;
    gap: 5px;
}
form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

#dialog{
    position:fixed;
    width: 15%;
    left: 50%;
    top: 50%;
    border: 1px solid black;
    padding: 20px;
    -ms-transform: translate(-50%,-50%);
    -moz-transform:translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);

}
.card {
    background-color: rgb(139, 139, 139);
    padding: 1em;

}
.books-container {
    display: grid;
    background-color: aqua;
    margin: 3%;
    grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
    grid-template-rows: auto;
    gap: 20px;

}
.Card-Div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

